html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* 
light sky blue - #96B3D9
sky blue - #548DBF
light stone - #D9A87E
sun stone - #D96725
red stone - #BF4F26
muted stone - #F2DFCE
purple stone - #524D59
*/

html{
    margin: 1em;
    background-color: #f2dfce9b;
    color: #524D59;
    
}

nav{
    text-align: right;
    padding-right: 2em;
    background-color: #F2DFCE;
}

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 10px #D96725;
    color: #F2DFCE;
    width: 40%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


/* h3{
    background-color: #F2DFCE;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 30%;
    font-size: 25px;
}

h5{
    background-color: #F2DFCE;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30%;
    font-size: 20px;
} */

section{
    margin-right: 3em;
}

.link{
    color: #524D59;
}

.shell{
    text-align: center;
    margin: 0 10%;
    font-size: 16px;
}

.pl{
    width: 40%;
}

.spread{
    margin: 5em 0;
}

.col{
    text-align: center;
}

.edu{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}